@{
	ViewData["Title"] = "Şifremi Unuttum";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Sıfırlama</title>
</head>
<body>
    <div class="sifre-sifirlama-kutusu">
        <h2>Lütfen mail adresinizi giriniz</h2>
        <input type="email" id="email" placeholder="Email Adresi">
        <button type="submit" onclick="sifremiSifirla()">Şifremi Sıfırla</button>
    </div>

    <script>
        function sifremiSifirla() {
            var email = document.getElementById("email").value;
            alert("Şifre sıfırlama işlemi başlatıldı.");
        }
    </script>
</body>
<style>
    html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    }
</style>
