@{
    ViewData["Title"] = "Ödeme Başarılı";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <script type="text/javascript">
        window.onload = function () {
            setTimeout(function () {
                window.location.href = "/"; 
            }, 5000);
        };
    </script>
</head>
<body>
    <h2>Ödemeniz Başarıyla Tamamlandı. Siparişlerim Ekranından Detaylara Ulaşabilirsiniz.</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p style="text-align:center">5 saniye sonra Ana Sayfa'ya yönlendirileceksiniz.</p>
</body>
</html>
